/* :root[color-theme="pink"]{
    --background : #ffb6ea;
    --boxColor:#fff;
   
} */
:root[color-theme="puple"]{
    --background : #d9b3f0;
    --boxColor:#fff;
   
}
:root[color-theme="dark"]{
    --background : #000;
    --boxColor:#2f2f2f;
    --fontcolor: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    width: 100%;
    height: 3rem;
    text-align: right;
    padding-top: 1rem;
    padding-right: 3rem;
}
header > span{
    cursor: pointer;
}
section{
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}
#smallCircle{
    position: absolute;
    width: 32rem;
    height: 32rem;
    top: -10rem;
    left: -10rem;
    opacity: 0.2;
    border-radius: 50%;
}
#bigCircle{
    position: absolute;
    width: 46rem;
    height: 46rem;
    bottom: -5rem;
    right: -18rem;
    opacity: 0.2;
    border-radius: 50%;
}

.flexAlignStart{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAlignStart > div {
    margin-left: 4rem;
}

.flexAlignStart > div > div{
    margin-bottom: 1rem;
}

#projectBox{
    width: 100%;
    height: 90%;
    background-color: var(--boxColor);
    font-size: 3rem;
    font-weight: bold;
    color: var(--fontcolor);
}
.contact{
    height: 70%;
}
.footer{
    height: 30%;
}
#aboutme{
    color: var(--fontcolor);
}